* {
  text-align: center;
}

#header {
}

#footer {
  margin-top: 2em;
}

#content {
  width: 80%;
  margin: auto;
}
#viewer {
  margin: auto;
}
.box {
  /* TODO: Liquid layout. */
  width: 64px;
  height: 64px;
  border: #ccc solid thin;
}
