!!! XML
!!! 1.1
%html(xmlns='http://www.w3.org/1999/xhtml' xml:lang='en')
  %head
    %title= Metastagram::ApplicationName
    %link(rel='stylesheet' href='/stylesheet.css')
    %script(type='text/javascript' src='/javascripts/jquery.js')
    %script(type='text/javascript' src='/javascripts/metastagram.js')
    :javascript
      $(document).ready(function () {
        new Metastagram.Artist({
          boxes: $('.box'),
          updateInterval: 1000
        }).start();
      });
  %body
    #header
      -# TODO: Replace ``[Meta]'' with a form to input search query.
      %h1 [Meta]stagram
    #content
      %div#viewer
        %div.box 11
        %div.box 12
        %div.box 13
        %div.box 14
        %div.box 21
        %div.box 22
        %div.box 23
        %div.box 24
        %div.box 31
        %div.box 32
        %div.box 33
        %div.box 34
        %div.box 41
        %div.box 42
        %div.box 43
        %div.box 44
    #footer
      %address
        Copyright &copy; 2011
        %a(href='http://whileimautomaton.net/') Kana Natsuno
        \/
        %a(href='https://github.com/kana/metastagram') Source code
        is freely available at GitHub.

-# __END__
