!!! XML
!!! 1.1
%html(xmlns='http://www.w3.org/1999/xhtml' xml:lang='en')
  %head
    %title= Metastagram::ApplicationName
    %link(rel='stylesheet' href='/stylesheets/basic.css')
    %script(type='text/javascript' src='/javascripts/jquery.js')
    %script(type='text/javascript' src='/javascripts/metastagram.js')
    :javascript
      $(document).ready(function () {
        new Metastagram.Artist({
          boxes: $('.box'),
          updateInterval: 1000
        }).start();
      });
  %body
    #header
      -# TODO: Replace ``[Meta]'' with a form to input search query.
      %h1 [Meta]stagram
    #content
      -# TODO: Show images dynamically.
      -#     1  2  3  4  5  6  7  8
      -#   ,-----------------------.
      -# 1 |  |  |  |  |  |  |  |  |
      -#   |--+-----+-----+-----+--|
      -# 2 |  |     |     |     |  |
      -#   |--|     |     |     |--|
      -# 3 |  |     |     |     |  |
      -#   |--+-----+-----+-----+--|
      -# 4 |  |  |  |  |  |  |  |  |
      -#   `-----------------------'
      %table#viewer
        %tr
          %td.box 11
          %td.box 12
          %td.box 13
          %td.box 14
          %td.box 15
          %td.box 16
          %td.box 17
          %td.box 18
        %tr
          %td.box 21
          %td.box(rowspan='2' colspan='2') 22 23 32 33
          %td.box(rowspan='2' colspan='2') 24 25 34 35
          %td.box(rowspan='2' colspan='2') 26 27 36 37
          %td.box 28
        %tr
          %td.box 31
          %td.box 38
        %tr
          %td.box 41
          %td.box 42
          %td.box 43
          %td.box 44
          %td.box 45
          %td.box 46
          %td.box 47
          %td.box 48
    #footer
      %address
        Copyright &copy; 2011
        %a(href='http://whileimautomaton.net/') Kana Natsuno
        \/
        %a(href='https://github.com/kana/metastagram') Source code
        is freely available at GitHub.

-# __END__
